/*  your css code here. If applicable */
body {
    background-color: rgb(204, 204, 204);
    font-family: sans-serif;
    font-weight: 600;
}

.textAlign {
    text-align: center;
}

#Songs {
    border: solid black;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Songs a {
    text-decoration-line: none;
    color: black;
}

ul {
    padding-left: 15px;
}

.second {
    text-align: center;
    margin-top: 0px;
}

.VideoAudio {
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
    border: solid black;
    padding: 15px;
    border-radius: 5px;
}

.VideoAudio>video {
    width: 100%;
}

.VideoAudio>h2 {
    text-align: center;
    margin-top: 10px;
}

audio {
    width: 100%;
}

.Audio>p {
    color: gray;
}
